<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359894081265-1cnh417d01bphj0ig0bufeia07do0kea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359894081265-1cnh417d01bphj0ig0bufeia07do0kea</string>
	<key>API_KEY</key>
	<string>AIzaSyAsj4vYqFcgSBYyyn3-khjWGHdqpZnXjws</string>
	<key>GCM_SENDER_ID</key>
	<string>359894081265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timelysoft.tsjdomcom</string>
	<key>PROJECT_ID</key>
	<string>tsjdomcom</string>
	<key>STORAGE_BUCKET</key>
	<string>tsjdomcom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359894081265:ios:905a54e5dee082ce5f1350</string>
	<key>DATABASE_URL</key>
	<string>https://tsjdomcom.firebaseio.com</string>
</dict>
</plist>